.github/**
.nyc_output/**
.vscode/**
.vscode-test/**
coverage/**
node_modules/**
out/**
src/**
**/.editorconfig
**/.eslintrc.json
.gitignore
.vscodeignore
.yarnrc
**/tsconfig.json
**/*.code-workspace
webpack.config.js
vsc-extension-quickstart.md
**/*.map
**/*.ts
